.admin_container {
    color: white;
    font-family: 'montserrat', sans-serif;
}

label {
    font-weight: bold;
}

.create_script,
.create_game_script {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 150px;
    padding: 0 10px;
    background-color: rgba(211, 30, 68, 1);
    border-radius: 32px;
    color: white;
    outline: none;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
}

.create_game_script:hover,
.create_script:hover {
    background-color: rgba(211, 30, 68, 1);
    scale: 1.1;
}

.card_script {
    background-color: rgba(51, 51, 51, 1);
}

.form_duration {
    width: 50%;
    height: 120px;
    background-color: rgba(51, 51, 51, 1);
    padding: 1%;
}

.form_win,
.form_lose {
    width: 50%;
    height: 150px;
    background-color: rgba(51, 51, 51, 1);
    padding: 1%;
}

.form_picture {
    width: 50%;
    height: 200px;
    background-color: rgba(51, 51, 51, 1);
    padding: 1%;
}

.form_difficulty {
    background-color: rgba(51, 51, 51, 1);
    height: 120px;
    padding: 1%;
}

.form_name {
    background-color: rgba(51, 51, 51, 1);
    height: 100px;
    padding: 1%;
}

.form_desc {
    background-color: rgba(51, 51, 51, 1);
    height: 200px;
    padding: 1%;
}

.form_padlock,
.form_room_start {
    background-color: rgba(51, 51, 51, 1);
    height: 100px;
    padding: 1%;
    width: 300px;
}

.form_action {
    background-color: rgba(51, 51, 51, 1);
    height: 100px;
    padding: 1%;
    width: 300px;
}

.form_clue {
    background-color: rgba(51, 51, 51, 1);
    height: 300px;
    padding: 1%;
}

.form_object {
    background-color: rgba(51, 51, 51, 1);
    height: 100px;
    padding: 1%;
    width: 35%;
}

#clue,
#clue2,
#clue3 {
    height: 70px;
}

.card_rooms,
.card_objects {
    background-color: rgba(51, 51, 51, 1);
    font-family: 'montserrat', sans-serif;
}