.footer_acs {
    position: relative;
    width: 100%;
    min-height: 151px;
    background-color: rgba(0, 0, 0, 0.1);
}

.copyright {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: rgba(113, 113, 113, 1);
    margin-top: 20px;
    width: 45%;
}

.legals_mentions {
    cursor: pointer;
}