.container-fluid {
    background-color: #1B1B1B;
}

.hook_container {
    width: 100%;
    transform: translateY(-3%);
}

.homeTop_img {
    background-image: url(../../assets/front/home/homeTop.png);
    background-color: rgba(51, 51, 51, 1);
    background-blend-mode: hard-light;
    height: auto;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.hook {
    position: absolute;
    top: 41%;
    left: 10%;
    font-family: 'Montserrat';
    font-style: normal;
    color: white;
}

.hook h1 {
    font-size: 120px;
    line-height: 120px;
    font-style: normal;
    font-weight: 700;
    font-family: 'Montserrat';
}

.hook>h1>span {
    color: #D31E44;
    font-size: 3rem;
}

.hook p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120px;
    text-transform: uppercase;
    letter-spacing: 12px;
}

.little_red_circle {
    position: relative;
}

.hook>div.line_text>.line {
    width: 100px;
    height: 2px;
    background-color: rgba(255, 255, 255, 1);
    display: block;
    margin-bottom: 3%;
}

.line_text {
    min-width: 619px;
}

.homepage {
    background-color: rgba(27, 27, 27, 1);
}

/* ********************** */

.home_content {
    background: rgba(27, 27, 27, 1);
    width: 100%;
    margin: 0;
}


.title_home_content span,
.title_rules span {
    background-color: rgba(51, 51, 51, 1);
    height: 4px;
    width: 35px;
    display: block;
}

.title_home_content h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 61px;
    color: white;
}

.content_home_game {
    background-color: rgba(27, 27, 27, 1);
}

.content_game {
    background-color: rgba(36, 36, 36, 1);
    height: 53.318824809575624vh;
    width: 383px;
    padding: 4%;
}

.first_game,
.second_game {
    height: 70vh;
    align-items: center;
}


.title_game h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 35px;
    color: white;
}

.description_game p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #717171;
}

.button_game a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: white;
    text-decoration: none;
    background-color: rgba(211, 30, 68, 1);
    height: 49px;
    width: 143px;
    border-radius: 30px;
    display: block;

}

.time_game p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #717171;
}



.discover_all_game {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    color: white;
    text-decoration: none;
    height: 49px;
    width: auto;
    border: 2px solid white;
    border-radius: 30px;
    display: block;
    text-align: center;
    padding-top: 1%;
}

.discover_all_game:hover {
    color: white;
    text-decoration: none;
}

/* ********** */

.rules_home {
    background-color: rgba(34, 34, 34, 1);
    width: 100%;
    height: 100vh;
}

.title_rules h2 {
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 61px;
}

.title_rules {
    height: 30vh;
}

.circle_rules_one,
.circle_rules_two,
.circle_rules_three {
    height: 333px;
    width: 389px;
}

.card {
    background-color: transparent;
    border: none;
    height: 333px;
    width: 297px;
}

.card img {
    height: 154px;
    width: 120px;
}

.card h5 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    /* line-height: 29px; */
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: white;
}

.card p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #717171;
}

div.card:nth-child(3)>div:nth-child(2)>h5:nth-child(1) {
    width: 286px;
}


/* ********************* */
.who_play {
    background-image: url(../../assets/front/home/for_who.png);
    min-height: 82vh;
    min-width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #222222;
}

.rotate_who_play_game {
    transform: rotate(-90deg);
}


.rotate_who_play_game p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.305em;
    text-transform: uppercase;
    color: #757575;
    transform: translate(37%, 2%);
    margin: 0;
}


.big_line {
    background-color: #333333;
    width: 2px;
    height: 161px;
    display: block;
    transform: rotate(-90deg) translateX(50%);
}

.first_detail p,
.second_detail p,
.third_detail p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: white;
}

@media all and (max-width: 768px) {}