.index_top {
    background-image: url(../../assets/front/index/background_top.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 64vh;
    width: 100%;
    position: relative;
    top: -4%;
    z-index: -1;
}

.index_top::before {
    content: url(../../assets/front/home/flou.png);
    position: absolute;
    width: 100%;
    z-index: 1;
    bottom: -33%;
    overflow: hidden;
}

.index_top h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 86px;
    text-align: center;
    letter-spacing: -2.16px;
    text-transform: lowercase;
    color: #FFFFFF;
}

.index_top>h1>span {
    color: #D31E44;
    font-size: 2rem;
}



.all_games {
    min-height: 110vh;
    margin-top: 10%;
    margin-bottom: 3%;
    position: relative;
    overflow-x: hidden;
}

.game {
    position: relative;
    height: 300px;
    cursor: pointer;
    overflow: hidden;
}

/* game:hover image zoom */
.game:hover>img {
    transform: scale(1.3);
    transition: 0.4s ease-in-out;
    filter: sepia(100%);

}


.game>img {
    width: 100%;
    height: 100%;
    scale: 1.02;
}

.game>div {
    position: absolute;
    bottom: 6%;
    left: 0;
    width: 100%;
}

.game>div.card_game_content>div.title_game>p {
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    width: 80%;
    padding: 6% 7%;
}

.parameters_game {
    justify-content: space-between;
    padding: 0% 6%;
}

.pagination>p {
    color: #FFFFFF;
}