@font-face {
    font-family: 'Digits';
    src: url(‘../../public/font/Digits-JR6M.ttf’) format(‘truetype’);
}


.in_game_nav {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
}

.the_rooms,
.inventories,
.frisk {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: white;
    cursor: pointer;
}


.tools {
    position: absolute;
    bottom: 18%;
    left: 50%;
    transform: translate(-50%);
}

.close,
.closeLock,
.closeOpen {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;

}

.modal-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
}

#countdown {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    transform: translate(0%, 8%);
}

.endgame_lose,
.endgame_win {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 842px;
    height: 317px;
    z-index: 999999;
}

.endgame_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    color: #1B1B1B;
}

.endgame_text {
    width: 55%;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #717171;
}

.endgame_buttons>a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 150px;
    padding: 0 10px;
    background-color: rgba(211, 30, 68, 1);
    border-radius: 32px;
    color: white;
    outline: none;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
}

/* in modal*/

.furnitures {
    position: relative;
}

.frisk_content {
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 150px;
    padding: 0 10px;
    background-color: rgba(211, 30, 68, 1);
    border-radius: 32px;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;

}

.rooms_list,
.furniture_desc {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #717171;

}

.rooms_list_item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    padding: 10px 0;
    min-height: 150px;
    width: 20%;
    font-family: 'Montserrat';
    font-size: 2rem;
    position: relative;
    gap: 2%;
}

.activeR {
    border: 2px dashed #D31E44;
    animation: dashed 3s ease-in-out infinite;
}

@keyframes dashed {
    0% {
        border: 2px dashed #D31E44;
        border-radius: 5%;
    }

    50% {
        border: 2px dashed #D31E44;
        border-radius: 10%;
    }

    100% {
        border: 2px dashed #D31E44;
        border-radius: 5%;
    }
}

.room_control_key {
    font-size: 30px;
    font-family: 'montserrat';
    font-weight: 700;
    color: #ffffffd5;
    height: 100%;

}

.opacity {
    opacity: 0;
    /* animation: typing 0.4s steps(5, end), blink-caret .5s step-end infinite; */
}

@keyframes typing {
    from {
        opacity: 0;
    }

    to {
        opacity: 100%;
    }
}

.room_control_key>span:nth-child(1) {
    animation: typing 0.4s steps(5, end), blink-caret .5s step-end infinite;
    transition: all 0.5s ease-in-out;
}

.room_control_key>span.endTry {
    height: 100%;
}

#rooms_unlock_btn {
    border-radius: 0% 10% 10% 0%;
    background-color: #D31E44;
}

#rooms_unlock_btn:active {
    background-color: #D31E44;
    color: white;
    font-size: 20px;
}

#rooms_unlock_key {
    border-radius: 10px 0% 0% 10px;
}



/* .padlock {} */

.furniture_desc_action {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 150px;
    padding: 0 10px;
    background-color: rgba(211, 30, 68, 1);
    border-radius: 32px;
    color: white;
    outline: none;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

.modalRoomLock {
    min-height: 40vh;
}

.clue_show1,
.clue_show2,
.clue_show3 {
    background-image: url(../../assets/front/ingame/clue.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 1%;
    border-radius: 5%;
    cursor: pointer;
    border: none;
    outline: none;

}

.clue_show1_content,
.clue_show2_content,
.clue_show3_content {
    background-image: url(../../assets/front/ingame/clue.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100%;
    color: white;
    font-family: 'montserrat';
    padding: 5%;
    transition: all 0.5s ease-in-out;
}

.scale0 {
    /* transform: scale(0); */
    animation: scale1to0 0.4s ease-in-out forwards;


}

.tryNumber {
    font-size: 60px;
    color: #ffffff;
    /* font-family: 'Montserrat'; */
    font-family: 'Digits';
}


.scale0to1 {
    /* transform: scale(0); */
    animation: scale0to1 0.7s ease-in-out forwards;
}

@keyframes scale0to1 {
    0% {
        /* transform: scale(0); */
        height: 0%;
    }

    100% {

        min-height: 100%;
    }
}


.penality {
    font-size: 32px;
    color: #D31E44;
    font-family: 'Montserrat';
    /* transform: translateY(8%); */
    opacity: 0;
}

.topToBottom {
    animation: topToBottom 2s ease-in-out 1s forwards;
}

@keyframes topToBottom {
    0% {
        transform: translateY(-8%);
        opacity: 0.5;
    }

    50% {
        transform: translateY(12%);
        opacity: 1;
    }

    100% {
        transform: translateY(25%);
        opacity: 0;
    }
}

.modalRoomOpen {
    min-height: 350px;
}