.nav {
    max-height: 80px;
    width: 100%;
    background-color: rgba(27, 27, 27, 0.55);
    position: absolute;
    display: flex;
    align-items: baseline;
    z-index: 555;
}

.navbar-nav {
    flex-direction: inherit;
    gap: 4%;
    display: flex;
}



.nav-logo {
    width: 210px;
}

.nav-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #777777;
}

li.nav-item:nth-child(1) {
    margin-left: 2%;
    /* text-align: center; */
}


li.nav-item:nth-child(1) {
    width: 65%;
}

li.nav-item:nth-child(3) {
    margin-left: 3%;
}

.nav-link:focus,
.nav-link:hover {
    color: white;
    scale: 1.1;
    border: none;
    outline: none;
}




.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: flex;
    /* width: 85%; */
    width: calc(100% - 14vw);
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav-link:hover {
    color: #eee;
}

.nav>#nav-check {
    display: none;
}

.navLog {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 150px;
    padding: 0 10px;
    gap: 10px;
    background-color: rgba(211, 30, 68, 1);
    border-radius: 20px;
    font-size: 11px;
    margin-left: auto;

}

.navLog>a {
    font-family: 'Montserrat';
    color: white;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    display: flex;
    gap: 6%;
    align-items: center;
    width: 100%;
    justify-content: center;
}


.navLog>a:focus {
    border: none;
    outline: none;
}

.dropdown-item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #777777;
}


@media (max-width: 1500px) {
    .nav>.nav-links {
        width: 80%;
    }
}

@media (max-width: 1300px) {
    .nav>.nav-links {
        width: 77%;
    }
}

@media (max-width:999px) {

    li.nav-item:nth-child(1),
    .li.nav-item:nth-child(2),
    .li.nav-item:nth-child(3) {
        margin-left: 0%;
    }

    li.nav-item:nth-child(1) {
        width: auto;
    }


    .dropdown-menu {
        width: 100%;
        border: none;
        outline: none;
        /* background-color: transparent; */
    }


    .navLog {
        transform: translateY(80px);
        margin-right: auto;
    }

    /* li.nav-item:nth-child(2) {
        max-width: 300px;
    } */

    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateY(-15%);
    }


    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 5%;
        top: 16%;
        color: var(--red);
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid var(--red);
    }

    .nav>.nav-links {
        position: absolute;
        width: 100%;
        background-color: rgb(27, 27, 27);
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 80px;
        left: 0px;
        justify-content: center;
        display: flex;
    }

    .nav-link {
        font-size: 27px;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}