.show_img_top {
    background-clip: content-box;
    backdrop-filter: blur(2px);
    background-repeat: no-repeat;
    background-position: 50%;
    min-height: 639px;
    background-size: cover;
    /* height: 80vh; */
    /* min-height: 450px; */
    width: 100%;
    position: relative;
}

.show_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(2.1875rem, 1.7017rem + 3.1092vw, 4.5rem);
    color: white;
    position: absolute;
    bottom: 124%;
    left: 0%;
    margin-left: auto;
    margin-right: auto;
    width: 78%;

}

.caracteristique_one_game {
    transform: translateY(23%);
}

.caracteristique_one_game>div:nth-child(1)>p:nth-child(6) {
    padding-top: 10%;
}


#description {
    padding: 0px 10%;
    max-width: 1440px;
}

.max_content_show {
    max-width: 1440px;
}


.content_one_game {
    width: 100%;
    min-height: 400px;
}

.description_one_game {
    min-width: 70%;
    position: relative;
}

.description_one_game p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    /* font-size: clamp(1rem, 0.8684rem + 0.7018vw, 1.5rem); */
    font-size: 16px;
    color: rgba(113, 113, 113, 1);
    width: 84%;
    line-height: 24px;
}


/* .description_one_game h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: clamp(1.25rem, 0.9868rem + 1.4035vw, 2.25rem);
    color: rgb(255, 255, 255);
} */

.duration_one_game,
.difficulty_one_game {
    text-align: end;
    transform: translate(30%);
    color: white;
}

.duration_one_game {
    display: flex;
    flex-direction: column;
    height: 50px;
    transform: translate(50%, 0%);
}

.duration_one_game>p:nth-child(1) {
    transform: translateY(-5px);
}




.duration_one_game p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    color: rgba(113, 113, 113, 1);
    height: 30px;
}

.duration_one_game>p:nth-child(2) {
    color: white;
}

.difficulty_one_game p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    color: rgba(113, 113, 113, 1);
    text-transform: uppercase;
}

.difficulty_one_game>p:nth-child(6) {
    color: white;
}


.play_now>a {
    height: 57px !important;
    width: 227px !important;
    padding: 0 10px;
    gap: 10px;
    background-color: rgba(211, 30, 68, 1);
    border-radius: 32px;
    font-size: 11px;
    margin-right: 25px;
    color: white;
    font-family: 'montserrat';
    font-weight: bold !important;
}

.other_games {
    padding: 0 5%;
}

.other_games>h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(1.25rem, 0.9868rem + 1.4035vw, 2.25rem);
    color: rgba(255, 255, 255, 1);
    padding-left: 1%;
}

.slide_game_index {
    gap: 20px;
}

@media (max-width : 1060px) {
    .show_title {
        width: 100%;
    }
}

@media (max-width : 768px) {

    .duration_one_game,
    .difficulty_one_game {
        transform: translate(0%);
    }

    .duration_one_game {
        transform: translate(0%, -5%);
    }

    .description_one_game p {
        width: 100%;
    }

    .show_title {
        bottom: 103%;
    }

    .show_img_top {
        min-height: 400px;
    }

}

@media (max-width: 480px) {
    .show_img_top {
        min-height: 400px;
    }

}