@font-face {
    font-family: "Montserrat";
    src: url(../../public/font/Montserrat-VariableFont_wght.ttf);
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #1B1B1B;
    justify-content: space-between;
    scroll-behavior: smooth;
}

.dnone {
    display: none !important;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none !important;
}

input:-internal-autofill-selected {
    appearance: transparent !important;
    background-image: none !important;
    background-color: transparent !important;
    color: transparent !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #00000000 !important;
}

input {
    background: transparent;
}

input.no-autofill-bkg:-webkit-autofill {
    -webkit-background-clip: white !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

/* @media all and (max-width: 1024px) {
    .container-fluid {
        display: none;
    }

    body::after {
        content: "Ce site n'est pas optimisé pour les petits écrans";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        color: white;
    }

    .modal {
        display: none;
    }
} */